{% extends "base.html" %}


{% block statics %}
<!-- JqWidgets styles -->
<link rel="stylesheet" href="{{STATIC_URL}}js/jqwidgets/styles/jqx.base.css">
<link rel="stylesheet" href="{{STATIC_URL}}js/jqwidgets/styles/jqx.bootstrap.css">

<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.min.css">
<script src='{{STATIC_URL}}js/vendor/jquery-ui.min.js'></script>
<!-- Jqwidget -->
<script src="{{STATIC_URL}}js/jqwidgets/jqxcore.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jqwidgets/jqxwindow.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jqwidgets/jqxbuttons.js"></script>


<script>
	$(document).ready(function() {
		$("article").hover(function() {
			$(this).css('box-shadow', '7px 7px 5px #888');
//			$(this).animate({ 'zoom': 1.02 }, 100);
			
		}, function() {
			$(this).css('box-shadow', ' 2px 2px 10px #102648');
//			$(this).animate({ 'zoom': 1 }, 100);
		});


		$(".det").click(function(event) {
			/* Act on the event */
			id=event.target.id;
			event.preventDefault()
			$( "#note_content" ).load( "/bitacora/notas/"+id+" #detail_section", function() {
				//GET WINDOW HEIGHT AND WIDTH
				var winHeight = $(window).height();
				var winWidth = $(window).width();
			  	$('#window').jqxWindow('open');

			  	//KEEP CENTERED
				var posX = (winWidth/2) - ($('#window').width()/2) + $(window).scrollLeft();
				var posY = (winHeight/2) - ($('#window').height()/2) + $(window).scrollTop();

				$('#window').jqxWindow({position: {x: posX, y: posY}});
			  	$('#window').jqxWindow('setTitle', "Detalles de la nota: "+id );
			  	$('#Window').jqxWindow('bringToFront');
			});
		});


	    $('#window').jqxWindow({
            minWidth: '1200px' , height: "85%",
            theme: "bootstrap",isModal: true,
            autoOpen: false,animationType: 'combined',
            showCollapseButton: true
        });
        $('#window').on('close', function (event) {   
        	$( "#note_content" ).html("")
        }); 


	});
</script>
{% endblock statics %}

{% block left_content %}
<br>

<h5  class="subheader">Categorias</h5 >
		<ul class="side-nav">
		{% for categoria in categorias %}
			<li class="snav text-right">
				<a href="{% url 'filter_notas' categoria.pk %}">
					{{categoria.name}}
				</a>
			</li>
		{% endfor %}
		</ul>
{% endblock left_content %}


{% block main_content %}

	{% load user_filter %}

	<dl class="sub-nav ">
		<dt>Opciones:</dt>
			<dd class="sn "><a href="{% url 'list_notas' %}">
				<i class='fi-list-bullet'></i> Todas</a>
			</dd>
			<dd class="sn "><a href="{% url 'new_nota' %}">
				<i class='fi-plus'></i> Crear nota</a>
			</dd>
			<dd class="sn "><a href="{% url 'search_notas' %}">
				<i class='fi-magnifying-glass'></i> Busqueda</a>
			</dd>
	</dl>
<form method="POST">
	{% csrf_token %}
	<div class="row collapse">
		<div class="row collapse ">
	        <div class="small-10 medium-4 columns">
	          <input type="text" placeholder="Busqueda Rapida" name='search_text'>
	        </div>
	        <div class="small-2 medium-2 end columns">
	          <a href="#" class="button postfix"><i class='fi-page-search'></i> Ir</a>
	        </div>
	    </div>
  	</div>
</form>
<section>
	{% load tz %}
		{% for  nota in notas %}
			<article >
				<div class="row">
					<div class="medium-2 columns text-center ">
						<img src="{{MEDIA_URL}}{{nota.user.perfil.foto}}" alt="">
						{% if  nota.user.first_name %}
							<label class='small-12 label radius autor'>{{nota.user.first_name}} {{nota.user.last_name |truncatewords:1}}</label>
						{% else %}
							<label class='small-12 label radius autor'>{{nota.user.username}}</label>
						{% endif %}
					</div>
					<div class="medium-10 columns nota">
						<div class="clearfix cabecera">
							<label class="left subtitle2"> {{nota.created_at | date:"D d \d\e F \d\e\l Y " }} | {{nota.created_at | utc |  date:"D d \d\e F \d\e\l Y "}}<br>
								{{nota.created_at | date:"h:i a  (\ \l\o\c\a\l \)"  }} -
								{{nota.created_at | utc |  date:"H:i  (\ e O \) "  }}
						    </label>
						    <label class="subtitle2 right">{{nota}}</label>
						</div>

						<div class="clearfix cuerpo">
							<label class="left estado{{nota.severity.pk}} radius content"> <i class='fi-flag'></i> 
								<span data-tooltip class="" title="{{nota.severity.description}}">
									{{nota.severity.name}}
								</span>
			
							 </label><br>
							<div style='font-size: 12px'>
								{{nota.description|safe|truncatewords_html:50}}
							</div>
							{% if nota.keywords %}
								<label class='content'>
									<i class='fi-pricetag-multiple'></i> {{nota.keywords}}
								</label>
							{% endif %}
							{% if nota.referencia %}
								<label class='content'>
									<i class='fi-link'></i> referencia a <a href="#{{nota.referencia.pk}}">{{nota.referencia}}</a>
								</label>
							{% endif %}
							
							{% if nota.adjuntos %}
								<label class='content'>
									<i class='fi-paperclip'></i> Archivo adjunto:
									<img src="{{STATIC_URL}}img/files_types/{{nota.adjuntos|file_format:"."}}.png" style='width: 40px'>
								</label>
							{% endif %}

							{% if nota.systems.all.count > 0 %}
								<label class='content'>
									<i class='fi-monitor'></i> 
									Sistemas involucrados: <a href="#{{nota.pk}}">{{nota.systems.all.count}}</a>
								</label>
							{% endif %}
						</div>
						<div class="clearfix notafooter">
							<label class='left subtitle2'><i class='fi-clock'></i> Hace {{nota.created_at|timesince}}</label>
							<label class="right subtitle2"><a href="{% url 'detail_nota' nota.pk %}" class='det' id='{{nota.pk}}'> <i class='fi-zoom-in'></i> Ver detalles</a></label>
						</div>
					</div>
				</div>
			</article>
		
		{% empty %}
				<h4><i class='fi-trees'></i> No hay elementos que mostrar</h4>
		{% endfor %}			

</section>


<!-- Ventana para mostrar los detalles de una nota -->
	<div id="window">
            <div>
                Titulo
            </div>
            <div>
                <div id="note_content">
                </div>
            </div>
    </div>
{% endblock main_content %}
