


<div class="mceTmpl">	
	<table id='mitabla' class="table table-bordered">
	  <caption>Estado de radio enlaces</caption>
	  <thead>
	    <tr id="tableHeader">
	      <th width="150px">Emplazamiento</th>
	      <th width="150px">Bit Status</th>
	      <th width="150px">Pag. Radio</th>
	      <th width="150px">Frec. 119.4 A</th>       
	      <th width="150px">Frec. 119.4 B </th> 
	      <th width="150px">Frec. 126.9 A</th> 
	      <th width="150px">Frec. 126.9 B</th>    
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
	  		<td>La Cuesta</td>
	  		<td>OK</td>
	  		<td>OK </td>
	  		<td>OK</td>
	  		<td>OK</td>
	  		<td>OK</td>
	  		<td>OK</td>
	  	</tr>
	  	<tr>
	  		<td>El Casita</td>
	  		<td>OK</td>
	  		<td>OK </td>
	  		<td>OK</td>
	  		<td>OK</td>
	  		<td>OK</td>
	  		<td>OK</td>
	  </tbody>
	</table>

</div>


{% comment %}

{% endcomment %}