.celeste
	background #0084EE
	color white
.azul
	background #003768
	color white
.naranja
	background #c14b03
	color white
.morado
	background #551177
	color white
.rojo
	background #cc0000
	color white
.rosado
	background #8e0152
	color white


.table
	.caption		
		padding 5px
		font-family Arsenal	
	thead
		tr
			th
				color white
				background #003768
				font-family Basic	
				text-align center
				a
					color white
	tbody
		tr 
			font-family Arsenal	
			td 
				text-align center
		tr:hover
			background rgba(210,209,205,0.4)
	

.Panel
	border-radius 4px
	.cabecera
		padding 6px
		border-radius 4px 4px 0 0		
		font-family Basic	
	.contenido
		border 1px solid rgba(black,0.2)
		padding 6px
		font-family Arsenal	
	
