{% extends "base.html" %}

{% block statics %}


	<link rel="stylesheet" href="{{STATIC_URL}}css/simpleweather.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/morris.css">
	<!-- JqWidgets styles -->
	<link rel="stylesheet" href="{{STATIC_URL}}js/jqwidgets/styles/jqx.base.css">
	<link rel="stylesheet" href="{{STATIC_URL}}js/jqwidgets/styles/jqx.bootstrap.css">


	<script src='{{STATIC_URL}}js/vendor/jquery/jquery.js'></script>
	<script src='{{STATIC_URL}}js/vendor/jquery.simpleWeather.min.js'></script>
	<script src='{{STATIC_URL}}js/vendor/raphael-min.js'></script>
	<script src='{{STATIC_URL}}js/vendor/morris.min.js'></script>
	<!-- Jqwidget -->
	<script src="{{STATIC_URL}}js/jqwidgets/jqxcore.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}js/jqwidgets/jqxnotification.js" type="text/javascript"></script>	

	

<script type="text/javascript">

  	$(document).ready(function(){
  		$("#messageNotification").jqxNotification({
            width: "98%", position: "top-right", opacity: 0.99,
            theme:"bootstrap", animationCloseDelay: 2000,
            autoOpen: false, animationOpenDelay: 2000, autoClose: true, autoCloseDelay: 7000, template: "info"
        });
		if(localStorage.logged_in=="no"){

		 	play_list = ["get_low","ubuntu_start","linux_startup","playstation_startup","tomorrow_land","minion","guitar","aggressive","click","dubstep","undertaker"]
		 	i = Math.floor((Math.random() * play_list.length));
		 	$("#audio")[0].src="/media/audio/"+play_list[i]+".mp3"
		 	$("#audio")[0].play()
			localStorage.logged_in = "si"
			$("#messageNotification").jqxNotification("open");
		}

		$('#audio').on('ended', function() {
		   //alert("Binbenido nuevamente")
		   // enable button/link
		});
  		
  	$( "#clima" ).css( "background-color", "#000" );//6699ff	
  	$( "#time" ).css( "color", "white" );//6699ff
  	$( "#date" ).css( "color", "white" );//6699ff

	getWeather(); //Get the initial weather.
	getTheTime();
	setInterval(getWeather, 300000);
	setInterval(getTheTime, 1000);

	function getTheTime(){
		hour=new Date().getHours();
		minutes=new Date().getMinutes();
		seconds=new Date().getSeconds();
		if (seconds<10){seconds="0"+seconds}
		if(minutes<10){minutes="0"+minutes;}
		theTime=hour+":"+minutes+":"+seconds
		$( "#time" ).html(theTime)
	}

	function getWeather(){
				$.simpleWeather({
	    		location: 'Managua, Ni',
			    woeid: '',
			    unit: 'c',
			    success: function(weather) {
			    	if(weather.temp > 33) {
				        $( "#clima" ).css( "background-color", "#ffcc00" );//#ff7d07
				      } else if(weather.temp >= 30 & weather.temp <= 33) {
				        $( "#clima" ).css( "background-color", "#ff7d07" );
				      } else if(weather.temp >= 26 & weather.temp <= 29) {
				        $( "#clima" ).css( "background-color", "#8aa427" );//6699ff
				      }else if(weather.temp >= 21 & weather.temp <= 25) {
				        $( "#clima" ).css( "background-color", "#6699ff" );//6699ff
				      }
				      else{
				      	$( "#clima" ).css( "background-color", "#3366ff" );//6699ff
				      }
			     // console.log(weather.code)
			     html = '<h2 id="tit" class="title"><i class="icon-'+weather.code+'"></i> '+weather.temp+'&deg;'+weather.units.temp+' </h2>';
			      
			      $("#weather").html(html);
			    },
			    error: function(error) {
			      $("#weather").html('<p>'+error+'</p>');
			    }
			  });
	}

	$.ajax({
		url: '/bitacora/estadisticas/',
		type: 'get',
		dataType: 'json',
		 success: function(data) {
	        drawGraph(data)
	    }
	})
	.fail(function() {
		console.log("error");
	})

	function drawGraph(data){

		Morris.Bar({
		  element: 'graph2',
		  hideHover:true,
		  stacked:false,
		  xLabelAngle: 60,
		  data: data,
		  xkey: 'label',
		  ykeys: ['value'],
		  labels: ['Notas'],
		  barColors: function (row, series, type) {
			    if (row.label === 'Normal') {
			      return '#4d9221';
			    }
			    else if (row.label === 'Trabajos') {
			      return '#444';
			    }
			    else if (row.label === 'Informacional') {
			      return '#0084EE';
			    }
			    else if (row.label === 'Incidencia Menor') {
			      return '#faa818';
			    }
			    else if (row.label === 'Incidencia Media') {
			      return '#cf5f3b';
			    }
			    else {
			      return '#cc0000';
			    }
			  }
		});

	}


	 });  
</script>
{% endblock statics %}


{% block left_content %}
{% load user_filter %}
{% load tz %}
	<label class='label title'>Proximos Cumpleañeros</label>	<br> <br>
	{% for usuario in  usuarios  %}
		{% if forloop.counter0 <= 9 and usuario.perfil.fecha_nacimiento  %}
				{% if  usuario.first_name %}
					<label class='label secondary radius arsenal'>{{usuario.first_name }} {{usuario.last_name |truncatewords:1}}</label>
				{% else %}
						<label class='label secondary radius arsenal'>{{usuario.username}} </label>
				{% endif %}	
				<br>
				<label  class='label success radius arsenal'>{{usuario.perfil.fecha_nacimiento|cumple | date:"D d \d\e b \d\e\l Y"}} </label>
				<label class='arsenal'>En: <i class='fi-clock'></i> {{usuario.perfil.fecha_nacimiento|cumple | timeuntil}} </label>
				<br> <br>
		 {% endif %} 
	{% endfor %}


{% endblock left_content %}

{% block main_content %}

	<div class="row text-center">
		
		<div id='clima' class="radius show-for-medium-up row" style=''>
			<div class="column medium-4">
				<label id='time' style='font-size: 40px;' class="subtitle">Hora</label>
				<label id='date' style='font-size: 17px;' class="subtitle"> {% now "d-m-Y" %}</label>			
			</div>
			<div class="column medium-4">
				<label id="weather" style='display: inline'>
					<img src="/static/img/loading.gif" alt="Loading..." style='width: 50px'><br />Intentando cargar datos del clima...
				</label>
			</div>
		</div> <br>
		<div id="row"></div>
		<div class="show-for-small-only">
			<label for="">Bienvenido {{user.username}}</label>
		</div>
		
		<div class="medium-5 columns text-center">
				<div class="row text-center show-for-medium-up">
					<div class=" medium-12  column orbit-container text-center"  >
								<ul class="example-orbit" data-orbit  data-options="animation_speed:500;">
									{% for  usuario in  usuarios %}
									  <li>
									    <img src="{{MEDIA_URL}}{{usuario.perfil.foto}}" alt="slide 1" />
									    <div class="orbit-caption arsenal">					      
									       {% if usuario.first_name %}
									       		{{usuario.first_name}} {{usuario.last_name}}
									       {% else %}
									       		{{usuario.username}}
									       {% endif %}				      
									      	- Tel.: {{ usuario.perfil.telefono | default:"No especificado"}}
									      	- Email: {{ usuario.email | default:"No especificado"}}
									    </div>
									  </li>
									{% endfor %}
								</ul>
					</div>
				</div>

		</div>
		<div class="medium-7 columns text-center">
			{% if not user.is_authenticated  %}
				<script>
					 localStorage.logged_in = "no"
				</script>
				{% include "usuario/login.html" %}
			{% else %}
				<div id="graph2" style="height: 280px;"></div>
				<audio id="audio" src='{{MEDIA_URL}}audio/ubuntu_start.mp3' ></audio>
			{% endif %}	
		</div>					
				
	</div>
	{% if  user.is_authenticated  %}
		<div class="row">	
			<div id="piechart" style="width: 99%; height: 300px;"></div>
		</div>
	{% endif %}	
  <!--Notifications-->
  	<div id="messageNotification">
	    <div style='text-align: center'>
	        <label>Bienvenido, te has identificado como el usuario {{user.username}}</label>
	        <a class="th radius" style="width:250px;">
			  <img  src="{{MEDIA_URL}}{{user.perfil.foto}}">
			</a><br>
			<label>- {{user.first_name}} {{user.last_name}} -</label>
	    </div>
	</div>
{% endblock  %}