<nav class="top-bar " data-topbar data-options="sticky_on: large ">
		
		<ul class="title-area">
			<li class="name ">
				<h1><a href="/"><i class="fi-laptop size-18"></i> Estacion Radar</a></h1>
			</li>
			<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

		</ul>
		<section class="top-bar-section">
			<!-- Left Nav Section -->
			<ul class="left ">
				<li class="divider"></li>
				<li><a href="/"><i class="fi-home size-14"></i> Inicio</a></li>
			
			</ul>

				
				<!-- Right Nav Section -->
				<ul class="right">
				<li class=""><a href="http://192.168.137.200:8080"> <i class="fi- "></i> Version Anterior </a></li>
				{% if  user.is_authenticated %}	
					<li class="has-dropdown sn">
						<a> <i class="fi-burst-new"></i> Equipos</a>
						<ul class="dropdown show-for-large-down">
							<li ><a href="{% url 'list_dispositivos' %}"><i class='fi-list'></i> Listar</a></li>
							<li ><a href="{% url 'search_notas' %}"><i class='fi-widget'></i> Componentes</a></li>
						</ul>
					</li>			
					<li class="sn"><a href="{% url 'list_categorias' %}"><i class=" "></i> Categorias</a></li>
					<li class="sn"><a href="{% url 'list_sistemas' %}"><i class="fi-monitor "></i> Sistemas</a></li>
					<li class="has-dropdown sn">
						<a> <i class="fi-book"></i>  Bitacora</a>
						<ul class="dropdown show-for-large-down">
							<li ><a href="{% url 'new_nota' %}"><i class='fi-plus'></i> Agregar Nota</a></li>
							<li ><a href="{% url 'search_notas' %}"><i class='fi-magnifying-glass'></i> Busqueda</a></li>
						</ul>
					</li>			
					<li class="has-dropdown sn">
						<a href="#"> <i class="fi-torso"></i> {{user.username}}</a>
						<ul class="dropdown show-for-large-down ">
							<li><a href="{% url 'perfil' %}"> <i class="fi-folder"></i>  Perfil</a></li>
							{% if user.is_staff %}
								<li class=""><a href="/admin"><i class="fi-wrench"></i>  Administracion</a></li>
							{% endif %}
							<li><a href="/salir/"><i class="fi-power"></i>  Salir</a></li>
						</ul>
					</li>
				{% endif %}	
				</ul>
			
		</section>
</nav>